.thematic-material-view {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  height: 250px;

  .image-container {
    width: 100%;
    height: 150px;
    border: none;
    img {
      object-fit: fill;
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }

  .title {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 13pt;
    font-weight: bold;
    height: 55px;
    text-align: center;
  }
  .description {
    padding: 0 10px;
    font-size: 10pt;
    font-weight: bold;
    height: 44px;
    text-align: center;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &:hover {
    cursor: pointer;
  }
}
