.notifications-page {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  min-height: calc(100vh - 60px);
  padding: 20px;

  .no-notifications {
    margin-top: 20px;
    font-size: 18pt;
    text-align: center;
  }

  .notifications-container {
    .controls {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      justify-content: center;
    }
  }
}
