.MuiDialog-paper {
  max-width: initial !important;
  .recommendation-details-dialog {
    .recommendation-details-modal-content {
      padding: 0 20px !important;
    }
    .controls {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }
}
