.reviews-page {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  gap: 20px;

  .score {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }
}
